{% extends "layout.html" %}

{% block body %}
    
<div class="container">
    <div class="col-11 mx-auto mt-5 c">
        <h1>
            Subir Archivos CSV
        </h1>
    </div>

    <div class="row mt-3">
        <div class="col-9">
            <div class="col-7 mx-auto mb-3">
                <h3>Subir archivo nuevo</h3>
                <h6 class="color_red">WARNING, El uso de esta seccion eliminara data previa</h6>
                <form action="/upCsvFile" method="POST" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="inputFile" class="form-label">Input File</label>
                        <input class="form-control" type="file" name="inputFile">
                    </div>
                    <button class="btn btn-primary mt-3" type="submit">Submit</button>
                </form>
            </div>

            <hr class="hr">

            <div class="col-7 mx-auto mb-3">
                <h3>Subir 2do archivo Csv</h3>
                <form action="/upNewCsvFile" method="POST" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="inputNewFile" class="form-label">Input File</label>
                        <input class="form-control" type="file" name="inputNewFile">
                    </div>
                    <button class="btn btn-primary mt-3" type="submit">Submit</button>
                </form>
            </div>
        </div>

        <div class="col-3">
            <h3>Instrucciones</h3>
            <p>
                Si se va a subir un CSV en la seccion "Load New Csv File", esto borra la tabla de tecnicos, "si exixte" y monta la nueva tabla a SQL.
                Si no existe previas versiones, monte el CSV aqui.
            </p>
            <hr class="hr">
            <p>
                Si es una segunda version reciente del CSV pero ya se ha montado un CSV antes, Use "Load 2nd Csv File", 
                de esta forma se crea una tabla diferente y se pueden comparar los resultados de la version montada anteriormente con la nueva version.
            </p>
        </div>
    </div>

</div>

{% endblock %}
