{% extends "layout.html" %}

{% block body %}
    
<div class="container">
    <div class="col-11 mx-auto mt-5 c">
        <h1>
            Herramienta de ayuda para asignar Tecnicos a Predios en el control de HLB
        </h1>
    </div>

    <div class="col-4 mx-auto mt-5 mb-3">
        <h3>Departamentos en CSV</h3>
        <ul>
            <form action="#" method="POST">
            {% for i in departamentos %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="depto" value="{{i}}" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        {{i}}
                    </label>
                </div>
            {% endfor %}
            <button class="btn btn-primary mt-3" type="submit">Submit</button>
            </form>
        </ul>
    </div>
</div>

{% endblock %}
