{% extends "layout.html" %}

{% block body %}
<a href="/studentList">Student List</a>
<div class="content">
    <h1>Update Student</h1>
    <form action="/update/{{ to_update.id }}" method="POST">
        <input name="name" type="text" value="{{ to_update.name }}">
        <input name="email" type="email" value="{{ to_update.email }}">
        <select name="dorm">
            <option value="{{ to_update.dorm }}">{{ to_update.dorm }}</option>
            <option value="Room 01">Room 01</option>
            <option value="Room 02">Room 02</option>
            <option value="Room 03">Room 03</option>
        </select>
        <input type="submit" value="Update">
    </form>
</div>
{% endblock %}
